// Utils
@import "utils/reset.scss";
@import "utils/fonts.scss";
@import "utils/variables.scss";
@import "utils/mediaqueries.scss";
@import "utils/typography.scss";
// Components
@import "components/base.scss";
@import "components/index.scss";
@import "components/intro.scss";
@import "components/article.scss";
@import "components/flux.scss";
@import "components/admonition.scss";

html {
  font-size: 15px;
  @include media("<sm") {
    font-size: 13px;
  }
}

body {
  @extend %font-body;
  background: var(--body-color);
  color: var(--base-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  ::-moz-selection { background-color: var(--action-color); color: var(--base-color); }
  ::selection { background-color: var(--action-color); color: var(--base-color); }
}