// Admonition

@keyframes border-animation {
  100% {
    background-position: 100% 100%;
  }
}

.admonition {
  border: var(--border-sm) transparent solid;
  background: linear-gradient(var(--body-color), var(--body-color)) padding-box, repeating-linear-gradient(-45deg, var(--base-color) 0, var(--base-color) 25%, transparent 0, transparent 50%) 0 / .6em .6em;
  animation: border-animation 60s linear infinite;
  padding: var(--size-md);
  .admonition-title {
    @extend %ts-title-3;
  }
  p:last-child {
    margin-bottom: 0;
  }
}