// Main
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .footer {
    margin-top: auto;
  }
}

// Header
.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  .nav {
    padding-top: var(--size-md);
    padding-bottom: var(--size-xl);
  }
  @extend %container-padding;
  .title {
    margin-right: var(--size-sm);
  }
}

// Navigation
.nav__list {
  list-style: none;
  display: flex;
}
.nav__item {
  display: block;
  &:not(:last-child) {
    margin-right: var(--size-sm);
  }
}

// Footer
.footer {
  @extend %container-padding;
  padding-top: var(--size-xxl);
  padding-bottom: var(--size-lg);
}

// Image
img {
  display: block;
}