// Index
.index {
  @extend %container-padding;
  & + .index {
    margin-top: var(--size-lg);
  }
}
.index__title {
  @extend %ts-title-0;
  margin-bottom: var(--size-sm);
}
.index__list {
  &,
  &--sub {
    list-style: none;
  }
}



// Index list
.index--list {
  .index__item {
    padding-left: var(--size-md);
    position: relative;
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      top: 0.1em;
    }
  }
  .index__item--sub {
    padding-left: var(--size-xl);
    position: relative;
    &:before {
      content: "∟";
      position: absolute;
      left: 0;
    }
  }
  .index__tags,
  .index__update {
    @extend %ts-small;
    display: inline-block;
    margin-bottom: var(--size-xxs);
  }
}

.index:not(.index--featured) {
  .index__link {
    @extend %ts-title-2;
  }
  .index__item--sub .index__link {
    @extend %ts-body;
  }
}

// Index featured
.index--featured {
  .index__item:not(:last-child) {
    margin-bottom: var(--size-xxl);
  }
  .index__link {
    display: block;
    background-color: var(--body-color);
    color: var(--base-color);
    & > *:not(img) {
      max-width: var(--content-max-width);
    }
    .item__title {
      display: table;
    }
  }
  .item__image {
    max-width: 100%;
    max-height: 90vh;
    margin-bottom: var(--size-sm);
  }
  .item__title {
    @extend %ts-title-1;
  }
  .item__excerpt {
    margin-top: var(--size-sm);
  }
}

// Index tags
.index--tags {
  .index__list {
    display: flex;
    flex-wrap: wrap;
  }
  .index__item:not(:last-child) {
    margin-right: var(--size-sm);
  }
}