{% extends "base.html" %} {% set page_class = 'content' %} {% block content %}


<section class="index index--list">
  <h1 class="index__title">Content</h2>
  <ul class="index__list">
    {% for article in articles if not articles[article]['has_parent'] %}
      {% set slug = articles[article]['slug'] %}
      <li class="index__item">
        {% set article = articles[slug] %}
        {% include 'components/index_item_content.html' %}
        {% with %}
          {% set childs_slug = articles[slug]['childs_slug'] %}
          {% include "components/childs_list_recursive.html" %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
