// Fonts

@font-face {
  font-family: "jetbrains-regular";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-italic";
  src: url("fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-bold";
  src: url("fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-bold-italic";
  src: url("fonts/JetBrainsMono-Bold-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
