// Typography

%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
}

%font-body {
  font-family: var(--font-body);
  @extend %font-base;
}

%font-body-italic {
  font-family: var(--font-body-italic);
  @extend %font-base;
}

%font-body-bold {
  font-family: var(--font-body-bold);
  @extend %font-base;
}

%font-body-bold-italic {
  font-family: var(--font-body-bold-italic);
  @extend %font-base;
}

// Text styles - definition
%ts-link {
  color: var(--base-color);
  text-decoration: none;
  background-color: var(--action-color);
  &:hover {
    color: var(--base-color);
    text-decoration: underline;
    background-color: var(--action-color);
  }
  &.external:after {
    content: " ↗";
  }
}
%ts-title-0 {
  @extend %font-body-bold;
  font-size: var(--size-xxl);
  line-height: 1.2;
}
%ts-title-1 {
  @extend %font-body-bold;
  font-size: var(--size-xl);
}
%ts-title-2 {
  @extend %font-body-bold;
  font-size: var(--size-lg);
}
%ts-title-3 {
  @extend %font-body-bold;
  font-size: var(--size-md);
}
%ts-title-4 {
  @extend %font-body;
  font-size: var(--size-md);
}
%ts-body {
  @extend %font-body;
  font-size: var(--size-md);
}
%ts-small {
  @extend %font-body;
  font-size: var(--size-sm);
}

// Text styles - application
a {
  @extend %ts-link;
}

.ts {
  h1 {@extend %ts-title-1;}
  h2 {@extend %ts-title-2;}
  h3 {@extend %ts-title-3;}
  h4, h5, h6 {@extend %ts-title-4;}
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em 0;
  }
  p, ul, ol, .table, .admonition, pre {
    margin-bottom: 1em;
  }
  figure.md, figure.lg, video, .embed-container {
    margin:  2em 0;
    & + figure.md,
    & + figure.lg,
    & + .embed-container,
    & + video {
      margin-top: -1em;
    }
  }
  p + p {
    margin-top: -0.5em;
  }
  p.todo,
  blockquote {
    margin: 2em 0;
  }
  ul {
    padding-left: 1em;
  }
  ol {
    padding-left: 2em;
  }
  blockquote {
    border-left: var(--border-sm) dotted var(--base-color);
    p {
      font-size: var(--size-md);
      @extend %font-body-italic;
      padding-left: var(--size-lg);
      margin-bottom: 0;
    }
    blockquote {
      border: none;
      margin: 0;
      p {
        @extend %ts-small;
      }
    }
  }
  code,
  pre {
    background: var(--base-color);
    color: var(--body-color);
  }
  code {
    padding: 0.15em 0.4em;
  }
  pre {
    padding: 1em;
    overflow-x: auto;
  }
  .table {
    overflow-x: auto;
    border: var(--border-sm) solid var(--base-color);
    width: 100%;
  }
  table {
    min-width: 100%;
    th {@extend %ts-title-3;}
    thead {border-bottom: var(--border-sm) solid var(--base-color);}
    td, th {
      padding: var(--size-sm) var(--size-md);
      white-space: nowrap;
    }
    tr:nth-child(even) {
      background-color: rgba(var(--base-color), .1);
    }
  }
  em {
    @extend %font-body-italic;
  }
  strong {
    @extend %font-body-bold;
  }
  em strong,
  strong em {
    @extend %font-body-bold-italic;
  }
}