:root {
  // Colors
  --base-color: #000000;
  --body-color: #FFFFFF;
  --action-color: #F9F9AC;
  // Fonts
  --font-body: "jetbrains-regular", Helvetica, Arial, sans-serif;
  --font-body-italic: "jetbrains-italic", Helvetica, Arial, sans-serif;
  --font-body-bold: "jetbrains-bold", Helvetica, Arial, sans-serif;
  --font-body-bold-italic: "jetbrains-bold-italic", Helvetica, Arial, sans-serif;
  // Size
  --size-xxs: calc(1rem / 4 * 1);
  --size-xs: calc(1rem / 4 * 2);
  --size-sm: calc(1rem / 4 * 3);
  --size-md: calc(1rem / 4 * 4);
  --size-lg: calc(1rem / 4 * 5);
  --size-xl: calc(1rem / 4 * 6);
  --size-xxl: calc(1rem / 4 * 8);
  // Misc
  --border-sm: 1px;
  --content-max-width: 640px;
}

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1920px
);

%container-padding {
  padding-left: var(--size-xl);
  padding-right: var(--size-xl);
}